.custom-button {
  min-width: 100px;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  background-color: #04397e;
  color: #c5c5c5;
  border: none;
  cursor: pointer;
  transition-duration:  1s;

  p{
    margin: 0;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 10px;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    text-transform: uppercase;
}

  &:hover {
    background-color: rgb(12, 11, 11);
    color: #c5c5c5;
    cursor: pointer;

  }
}