.custom-button {
  min-width: 100px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: rgb(12, 11, 11);
  color: #c5c5c5;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition-duration: .5s;

  &:hover {
    background-color: #04397e;
    color: #c5c5c5;
    outline: solid black .2rem;
  }
}