.row{
    margin-bottom: 180px;
}
.cardlist-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    align-items: center;
    position: relative;
    height: 448px;
    width: 48vw; 
    margin: 20px;
    margin-bottom: 150px;
    text-align: center;

    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../../assets/images/bonfire.jpg');
    background-position: center top;
    width: 70vw;
    padding-top: 30px;
    transition-duration: .4s;


    &:hover{
        padding-top: 90px;
        width: 97vw;

        .card__title{
            margin-bottom: 30px;
        }
    }

}

.buffet-wrapper, .cocktails-wrapper{
    display: flex;
    justify-content: end;
}

@media screen and (max-width:690px){
    .row{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card{
        margin-bottom: 60px;
    }
    .card:hover .card__content{
        transform: none;
    }
  }