@keyframes fadeLeft {
    0% {left:0px; opacity: 0.2}
}

.card{
    position: relative;
    height: 448px;
    width: 298px; 
    margin: 20px;
    background: none;
    margin-bottom: 150px;

    animation: fadeLeft 1s linear 2s;

}
.card:hover .card__content{
    transform: rotateY(0.5turn);
    
}

@media screen and (max-width:690px){
    .row{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card{
        margin-bottom: 60px;
    }
    .card:hover .card__content{
        transform: none;
    }
  }