.cardlist-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../../assets/images/background-palm-leave.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 80px 0;
}

.cardlist-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 0;
    max-width: 600px;

    .cardlist-text-header{
        h2{            
            font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
            letter-spacing: 1px;
            line-height: 1.5em;
            font-size: 30px;
            color: var(--textWhite);
        }
    }
    .cardlist-text-body{
        font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
        font-weight: 300;
    }
}

.row{
    width: 100%;
    margin: 26px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buffet-wrapper,.rodizio-wrapper, .cocktails-wrapper{
    width: 28%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:500px){
    .cardlist-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url('../../assets/images/background-palm-leave.png');
        width: 100%;
        padding: 30px 0;
    }
    .cardlist-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 40px 25px;
        color: var(--textWhite);

    
        .cardlist-text-header{
            h2{            
                font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
                letter-spacing: 1px;
                line-height: 1.5em;
                font-size: 30px;
            }
        }
        .cardlist-text-body{
            font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
            font-weight: 300;
        }
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

    .buffet-wrapper, .cocktails-wrapper, .rodizio-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
  }