.landing-video{
    display: flex;
    width: 100%;
    height: 100%;
    .solo-fogo-video{
        position: absolute;
        width: 111vw;
        left: 50%;
        right: 50%;
        height: 100%;
        object-fit: cover;
        transform: translate(-50%, -18%);
        z-index: -1;
    }
    .blank-div{
        height: 100vh;
    }

    .sambo-grill-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    @keyframes logoOpacity {
        from {
            opacity:0.3;
        }
        50%{
            opacity: 0.6;
        }
        to{
            opacity: 0.3;
        }
    }
    .sambo-grill{
        width: 250px;
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -80%);
        animation: logoOpacity 10s;
        animation-iteration-count: infinite;
        // opacity: .1;
        // transition: opacity 500ms ease-in-out;
    }
}

@media screen and (max-width:700px){
    .sambo-grill-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .sambo-grill{
            width: 180px;
            position: absolute;
            left: 50%;
            right: 50%;
            transform: translate(-41.5%, -80%);
        }
    }
    
}