
.weymouth-location, .poole-location{
    position: absolute;
    width: 40%;
    height: 350px;
    margin: 30px;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.weymouth-location{
    left: 5%;
}
.poole-location{
    right: 5%;
}
.weymouth-img, .poole-img{
    max-height: 105%;
    max-width: 105%;
    position: absolute;
    z-index: -5;
    left: 0;
    border-radius: 10px;

}

.weymouth-location:hover, .weymouth-img{
    transform: scale(1.05);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    cursor: pointer; 
}
.poole-location:hover, .poole-img{
    transform: scale(1.05);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    cursor: pointer; 
}
.title-location{
    position: absolute;
    bottom: 10%;
}
