
.weymouth-location, .poole-location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    text-align: center;
    .go-to-menu-btn{
        width: 55%;
        margin-top: 40px;
        .custom-button{
            width: 100%;            
        }
    }
}
.weymouth-location{
    padding-left: 100px;
}
.poole-location{
    padding-right: 100px;
}


.location-card{
    display: block;
    width: fit-content;
}

.location-img-container{
    width: fit-content;
    height: fit-content;
    background-color: black;
    opacity: 0.7;
    z-index: 10;
    transform: rotate(270deg);

}
.weymouth-img, .poole-img{
    width: 400px;
    height: 100%;
    z-index: 1;
}
.title-location{
    padding-top: 20px;
    transform: translateZ(5rem);
    color: rgba($color: #c5c5c5, $alpha: 1.0);
}
