.weymouth-location, .poole-location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    text-align: center;
    .go-to-menu-btn{
        width: 55%;
        margin-top: 80px;
        .custom-button{
            width: 100%;            
        }
    }
}
.weymouth-location{
    padding-left: 100px;
}
.poole-location{
    padding-right: 100px;
}


.location-card{
    display: block;
    width: 350px;
    height: 450px;
}

.location-img-container{
    width: 100%;
    height: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8) ), url('../../assets/images/sambo-menu-img.jpg');
    background-position: center;
    background-size: cover;
    // opacity: 0.7;
    z-index: 10;

}
.weymouth-img, .poole-img{
    height: 100%;
    z-index: 1;
}
.title-location{
    padding-top: 20px;
    transform: translateZ(5rem);
    color: rgba($color: #c5c5c5, $alpha: 1.0);
}


@media screen and (max-width:500px){

    .weymouth-location, .poole-location{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        padding: 0;
        margin-bottom: 80px;
        .go-to-menu-btn{
            width: 80%;
            margin-top: 20px;
            .custom-button{
                width: 100%;            
            }
        }
    }
    .weymouth-location, .poole-location{
        padding-left: 0;
    }
    
    
    .location-card{
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: 450px;
    }
    
    .location-img-container{
        width: 100%;
        height: 100%;
        background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8) ), url('../../assets/images/sambo-menu-img.jpg');
        background-position: center;
        background-size: cover;
        // opacity: 0.7;
        z-index: 1;
    
    }
    .weymouth-img, .poole-img{
        height: 100%;
        z-index: 1;
    }
    .title-location{
        padding-top: 20px;
        color: var(--textWhite);
    }

}