.menupage{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--textWhite);
    height: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2) ),  url(../../assets/images/dark-blue.jpg);
    background-position: center;
    background-size: cover;
}
.menupage-text{
    margin: 20px 0 0 0;
    width: 100%;
    padding: 40px 10%;
    text-align: center;
    color: var(--textWhite);
    

    h1{
        font-weight: 700;
        line-height: 28px;
        font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
        font-size: 18px;
    }

}

.menupage-concept{
    width: 100%;
    margin: 30px 0px 80px 0px;
    padding: 40px 20%;
    text-align: center;
    color: var(--textWhite);
    font-weight: 500;
    line-height: 28px;
}

@media screen and (max-width:500px){

    .menupage{
        background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4) ),  url(../../assets/images/dark-blue.jpg);
        background-position: center;
        background-size: auto;
    }

    .menupage-text{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
        height: 90px;
        text-align: center;
        color: var(--textWhite);
        font-weight: 500;
        line-height: 28px;
    
    }

    .menupage-concept{
        width: 100%;
        margin: 30px 0px 80px 0px;
        padding: 40px 20%;
        text-align: center;
        color: var(--textWhite);
        font-weight: 500;
        line-height: 28px;
}


}