.bookingview{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--textWhite);
    background-image: url('../../assets/images/background-palm-leave.png');
    background-size: cover;
    background-position: center;
    padding-top: 100px;

    .bookingview-header{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .location-button-back{
        position: absolute;
        left: 30px;
    }

    .location-chosen{
        margin: 50px 0;
        h2{
            font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
            font-weight: 700;
            font-size: 30px;
            letter-spacing: 1px;
            line-height: 1.5em;
        }
    }
    .table-agent{
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
    }
}

@media screen and (max-width:500px){

    .bookingview{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--textWhite);
        padding-top: 80px;

    
        .bookingview-header{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;
        }    
    
        .location-button-back{
            left: 0;
            position: relative;
            width: 100%;
            .custom-button{
                width: 100%;
            }
        }
    
        .location-chosen{
            margin: 50px 0;
        }
        .table-agent{
            height: 80vh;
            display: flex;
            flex-direction: column;
            justify-self: center;
            align-items: center;
        }
    }
    

}