.bookingpage{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--textWhite);
    height: 100%;
    background-image:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9) ), url('../../assets/images/sparkles.jpg');
    background-position: top;
    padding-top: 100px;

    .location{
        .location-card{
            .location-img-container{
                background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8) ), url('../../assets/images/sambo_img_fuego.png');
                background-position: bottom;
            }
        }
        .go-to-menu-btn{
            width: fit-content;
            .custom-button{
                background-color: #F16788;
                transition-duration:  1s;
                color: #150B11;
                p{
                    letter-spacing: 2.5px;
                    margin: 0;
                    font-weight: 600;
                }
                &:hover {
                    background-color: #c99872;
                    color: #150B11;
                }
            }
        }
    }
}
.booking-text{
    margin: 20px 0 0 0;
    width: 100%;
    padding: 40px 10%;
    text-align: center;
    color: var(--textWhite);
    h1{
        font-weight: 600;
        line-height: 28px;
        font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
        font-size: 18px;
        letter-spacing: 2px;
    }

}

@media screen and (max-width:500px){

    .booking-text{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 90px;
    }


}