.aboutuspage{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--textWhite);
    height: 100vh;
    background: url('../../assets/images/wood-fire.jpg');

    text-align: center;
    padding: 20px 20vw;
    
    h1{
        margin: 40px 0;
    }

    p{
        font-weight: 600;
    }

}