.aboutuspage{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--textWhite);
    height: 100vh;
    background: url('../../assets/images/wood-fire.jpg');

}