.header {
    height: 100px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: rgba($color: #000000, $alpha: 0.6);
    position: fixed;
    z-index: 999;

    .header-item{
      list-style-type: none;
    }

    .fa-bars {
      color: var(--textWhite);
    }
    
    .header-menu {
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
     
    }
    
    .menu-icon {
      display: none;
    }

  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 10px 5px 5px 100px;

      .sambo-logo{
        width: 50px;
        filter: invert(65%);
      }
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: flex-end;
      padding: 25px 0 5px 5%;
      

  
      .option {
        font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
        padding: 10px 15px;
        cursor: pointer;
        color: var(--textWhite);
        font-size: 14px;
        line-height: 14px;
        font-weight: 300;
        transition-duration: .5s;
        

      }
      #aboutus{
        padding-right: 15px;
      }
      #spacer{
        height: 0px;
        cursor: default;
        width: 10px;

        &:hover{
          color: var(--textWhite);
        }

      }
      .option-spacer-line{
        // border-bottom: solid var(--textWhite) .3px;
        width: 45px;
        height: 0px;
      }
      .option:hover{
        color:rgb(170, 170, 170);
        
      }
      .option:focus{
        color: var(--pink);
      }
    }
  }


  
@media screen and (max-width:980px){

  @keyframes fadeIn {
    0% {opacity: 0;
      transform: translateX(-20px);
    }
    100% {opacity: 1;
      transform: translateX(0);
    }
 }
  .header{
    position: fixed;
  }
  .header.active{
    background: rgba($color: #000000, $alpha: 0.8);
    height: 80px;
    max-width: 100vw;
    .logo-container {
      height: 100%;
      width: 60px;
      padding: 2px 5px 5px 5px;
    }

    .menu-icon {
      display: block;
      position: absolute;
      top: 1%;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.5rem;
      cursor: pointer;
      color: var(--textWhite);
      z-index: 4;
    }
    /* Botón cerrar menú móvil */
    .fa-times {
      color: var(--textWhite);
      font-size: 1.5rem;
      margin-top: 1%;
      padding-right: 3px;
      z-index: 4;
    }
    .options {
      width: auto;
      height: 100%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      z-index: 3;
    }
    .header-menu {
      display: none;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 80px;
      right: -100%;
      opacity: 0.1;
      transition: all .4s ease;
      text-align: center;
      #spacer{
        display: none;
      }
    }
    .header-menu.active {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-around;
      background: rgba($color: #000000, $alpha: 0.8);
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 3;
      text-align: center;
      padding-inline-start: 0;
      animation: fadeIn 1s linear 0.9 ;
      padding-top: 80px;
    }
    .header-item.active{
      height: 80px;
      width: 100%;
      display: flex;
      justify-content: center;
      transform: translate(0, -100%);
    }
    .option{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .option.active{
      text-align: center;
      width: 100%;
      display: table;
    }    
  }
  
}
