.header {
    height: 100px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: rgba($color: #000000, $alpha: 0.3);

    .header-item{
      list-style-type: none;
    }

    .fa-bars {
      color: white;
    }
    
    .header-menu {
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
    }
    
    .menu-icon {
      display: none;
    }

  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 10px 5px 5px 100px;

      .sambo-logo{
        width: 50px;
        filter: invert(100%);
      }
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: flex-end;
      padding: 25px 100px 5px 5px;

  
      .option {
        padding: 10px 15px;
        cursor: pointer;
        color: white;
        font-size: 13px;
      }
      #aboutus{
        padding-right: 15px;
      }
      #spacer{
        height: 0px;
        cursor: default;

        &:hover{
          color: white;
        }

      }
      .option-spacer-line{
        border-bottom: solid white .3px;
        width: 45px;
        height: 0px;
      }
      .option:hover{
        color:#f79a42;
      }
    }
  }
  
@media screen and (max-width:810px){

  @keyframes fadeIn {
    0% {opacity: 0;
      transform: translateX(-20px);
    }
    100% {opacity: 1;
      transform: translateX(0);
    }
 } 

  .header.active{
    background: rgba($color: #000000, $alpha: 0.7);
    height: 80px;
    .header-menu {
      display: none;
      flex-direction: column;
      justify-content: center;

      width: 100%;
      height: 100%;
      position: absolute;
      top: 80px;
      right: -100%;
      opacity: 0.1;
      transition: all 1s ease;
      margin-left: 0;
      text-align: center;

      #spacer{
        display: none;
      }

    }
    .header-menu.active {
      display: flex;
      width: 106vw;
      flex-direction: column;
      justify-content: center;
      background: rgba($color: #000000, $alpha: 0.8);
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      text-align: center;
      padding-inline-start: 0;

      animation: fadeIn 1s linear 0.9 ;

    }
    .header-item.active{
      height: 100px;
      width: 100%;
      display: flex;
      justify-content: center;
      transform: translate(0, -50%);

    }
    .option{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .option:hover{
      background: rgba($color: #000000, $alpha: 0.5);
    }
    .option.active{
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
   
    .menu-icon {
      display: block;
      position: absolute;
      top: 3px;
      right: 5px;
      transform: translate(-100%, 60%);
      font-size: 1.5rem;
      cursor: pointer;
      color: white;
    }
    /* Botón cerrar menú móvil */
    .fa-times {
      color: white;
      font-size: 1.5rem;
      margin-top: 2%;
      padding-right: 3px;
    }
    .logo-container {
      height: 100%;
      width: 60px;
      padding: 2px 5px 5px 20px;
    }
  }
  
}

