.footer{
    height: 300px;
    width: 100%;
    color: white;
    background: rgba($color: #000000, $alpha: 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 100px 50px 100px;
    
    h1{
        font-size: 24px;
        color: #0d6efd;
        font-weight: bold;
        margin-bottom: 40px;
    }
    h3{
        font-size: 18px;
        margin: 20px 10px;
    }
    p{
        font-size: 15px;
        line-height: 30px;
    }
}

.section-addresses{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-weymouth{
    margin-right: 50px;
}

.section-left{

}

.section-center{

    display: flex;
    align-items: center;
    .logo-container{
        display: flex;
        flex-direction: row;        
        .sambo-logo{
            width: 60px;
            filter: invert(100%);
            margin-right: 10px;
        }
    }
    .footer-sambo{
        color: white;
        font-size: 12px;
        padding-top: 20px;
    }
}

.section-right{
}