.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url('../../assets/images/footer-sambo-background-left.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    .footer-top{
        height: 516px;
        display: flex;
        flex-direction: row;
        .footer-top-left, .footer-top-right{
            width: 50%;
            height: 100%;
        }
        .footer-top-left{
        }
        .footer-top-right{
            background: black;
        }
    }
    .footer-bottom{
        height: 74px;
        width: 100%;
        background: #0c1418;

    }
}