:root{
  --textWhite: #DCD7DC;
  --navyBlue: #2ea3f2;
  --orange: #f79a42;
  --pink: #F16788;
}

body{
  background-color: #0c1418 ;  
}

a{
  text-decoration: none;
  color: var(--navyBlue);
}

*{
  box-sizing: border-box;

}

::-webkit-scrollbar{
  display: none;
}

@media screen and (max-width: 980px){
  body{
    font-family: 'Montserrat', sans-serif;
    background-color: #0c1418 ;
  }
}
@media only screen and (max-width: 340px){
  body{
    width: 100vw;
  }
}