.table-agent{
    width: 100%;
    display: flex;
    justify-content: center;
}

.table-agent-widget{
    margin-bottom: 100px;
    height: 200px;
    justify-self: right;
}

.booking-policy{
    padding: 20px;
    width: 30%
}