.table-agent{
    width: 100%;
    display: flex;
    justify-content: center;
}

.table-agent-widget{
    margin-bottom: 100px;
    height: 200px;
    position: absolute;
    right: 20%;
    border-radius: 5px;
}


.booking-policy{
    padding: 20px;
    width: 30%;
    position: absolute;
    left: 15%;
    text-align: center;
}